[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[merge]
	ff = false
[pull]
	ff = only
[alias]
	co = checkout
    cm = commit -m
    ft = fetch
    mg = merge
	st = status
	br = branch
	sw = switch
[init]
	defaultBranch = main
[include]
    path = ~/.gitconfig_indiv
[delta]
    line-numbers = true
    side-by-side = false
    syntax-theme = Solarized (dark)
