[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[merge]
	ff = false
[pull]
	ff = only
[alias]
	co = checkout
    cm = commit -m
    ft = fetch
    mg = merge
	st = status
	br = branch
	sw = switch
[init]
	defaultBranch = main
[include]
    path = ~/dotfiles/git/themes.gitconfig
[delta]
    dark = true
    header = true
    # features = collared-trogon
    # features = gruvmax-fang
    features = mantis-shrimp-lite
    line-numbers = true
    side-by-side = true
    syntax-theme = Solarized (dark)
    true-color = always
